/Bundle
/Simplified
/simplified-build
/.idea
/.buildpath
/.project
/composer.lock
/composer.phar
/app/resources/vendor
/app/cache
/node_modules
/public/*
!/public/.htaccess
!/public/favicon.ico
!/public/index.php
/vendor/*
!/vendor/composer
*.zip