<div id="blog_footer">
	<div class="content">
		<ul>
			<li>Home</li>
			<li>Services</li>
			<li>About Us</li>
		</ul>
	</div>
	<div class="content">
 	<h3>Follow us</h3>
 	<ul>
		<li>
			<span class="term-icon twitter"><i class="fa fa-twitter"></i></span> Twitter
		</li>
		<li>
			<span class="term-icon facebook"><i class="fa fa-facebook"></i></span> Facebook
		</li>
		<li>
			<span class="term-icon google-plus"><i class="fa fa-google"></i></span> Google Plus
		</li>
		<li>
			<span class="term-icon linkedin"><i class="fa fa-linkedin"></i></span> LinkedIn
		</li>
		<li>
			<span class="term-icon xing"><i class="fa fa-xing"></i></span> Xing
		</li>
		<li>
			<span class="term-icon rss"><i class="fa fa-rss"></i></span> RSS
		</li>
 	</ul>
	</div>
	<div class="content">
		<h3>Contact Us</h3>
		<ul>
			<li><input type="text" class="bottom-form-element"/></li>
			<li><textarea rows="8" cols="60" class="bottom-form-element"></textarea></li>
		</ul>
	</div>
	<div class="clearfix"></div>
	<div align="center">&copy; {{ "now"|date("Y") }}&nbsp;Your Company | Legal Notice | Privacy Policy</div>
</div>