@import "../../vendor/bootstrap-sass/assets/stylesheets/bootstrap";
$primary-color-dark: #883333;

body {
  color: $primary-color-dark;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: left;
}